<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!--bean declarations-->
    <!--Engine bean-->
    <bean id="harrierEngine" class="com.refstash.dependency_injection.xml_configuration.setter_injection.Engine">
        <property name="type" value="Kryotec 2.0 L Turbocharged Engine"/>
        <property name="displacement" value="1956cc"/>
        <property name="cylinder" value="4"/>
        <property name="transmissionType" value="Automatic"/>
        <property name="gearBox" value="6-Speed"/>
    </bean>

    <!-- bean declaration using p schema -->
    <!--
    <bean id="harrierEngine" class="com.refstash.dependency_injection.xml_configuration.setter_injection.Engine"
          p:type="Kryotec 2.0 L Turbocharged Engine"
          p:displacement="1956cc"
          p:cylinder="4"
          p:transmissionType="Automatic"
          p:gearBox="6-Speed"/>
     -->

    <!--Car bean-->
    <bean id="tataHarrier" class="com.refstash.dependency_injection.xml_configuration.setter_injection.Car">
        <property name="brand" value="Tata"/>
        <property name="model" value="Harrier"/>
        <property name="engine" ref="harrierEngine"/>
        <property name="specifications">
            <map>
                <entry key="Mileage" value="14.6kmpl"/>
                <entry key="Fuel Type" value="Diesel"/>
                <entry key="Fuel Tank Capacity" value="50.0"/>
                <entry key="Seating Capacity" value="5"/>
                <entry key="Body Type" value="SUV"/>
            </map>
        </property>
        <property name="features">
            <list>
                <value>Power Steering</value>
                <value>Power Windows </value>
                <value>Air Conditioner</value>
                <value>Heater</value>
                <value>Driver and Passenger Airbag</value>
                <value>Automatic climate control</value>
            </list>
        </property>
        <property name="colors">
            <set>
                <value>Orcus White</value>
                <value>Calypso Red</value>
                <value>Daytona Grey</value>
                <value>Oberon Black</value>
            </set>
        </property>
    </bean>
</beans>
